* {
  box-sizing: border-box;
  font: inherit;
  margin: 0;
  padding: 0;
}

body {
  font-size: 100%;
  line-height: 1;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}

a {
  background: transparent;
  text-decoration: none;
}

*:focus,
*:active,
*:hover {
  outline: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}

img {
  border: none;
}

ol,
ul {
  list-style: none;
}

button {
  background-image: none;
  border: none;
  cursor: pointer;
}

input,
select,
textarea {
  border-radius: 0;
  box-shadow: none;
}

input,
textarea {
  resize: none;
  user-select: text;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

input[type="checkbox"],
input[type="radio"] {
  display: none;
}
